<div id="footer" class="no-select">
    <div id="footer_sections">
        <div class="footer_section">
            <p>&copy; 2018 BlairHacks</p>
            <a href="mailto:blairhacks@gmail.com">Email Us</a>
        </div>
        <div class="footer_section">
            <a href="https://twitter.com/blair_hacks">Twitter</a>
            <a href="https://blairhacks-1.devpost.com">Devpost</a>
        </div>
        <div class="footer_section">
            <p>An enterprise of</p>
            <h1>Blair Engineers' Guild</h1>
        </div>
    </div>
</div>