{% extends 'base.html' %}
{% load static %}
{% load markdown_filter %}

{% block body %}
    <div id="splash" class="no-select">
        <div id="splashlogo"><img src="{% static 'core/images/blairhacks.png' %}" class="logo"></div>
        <a href="{% url 'register' %}" class="button">Register Now!</a>
        <div id="bt1"><a href="{% url 'manage' %}" class="button">Log In!</a></div>
        
    </div>

    <div id="navbar" class="no-select">
        {% for section in sections %}
            <a href="#{{ section.title|cut:' ' }}">{{ section.title }}</a>
        {% endfor %}
    </div>

    <div id="content">
        {% for section in sections %}
            <div id="{{ section.title|cut:' ' }}" class="section">
                <div class="section_title">{{ section.title }}</div>

                {{ section.body|markdownify|safe }}
            </div>
        {% endfor %}
    </div>

    <div id="mob-nav">
        <div id="mob-nav-close"><i class="fa fa-times"></i></div>
        {% for section in sections %}
            <a href="#{{ section.title|cut:' ' }}">{{ section.title }}</a>
        {% endfor %}
    </div>

    <script>
        if (window.screen.width < 767.98) {
            $('#navbar').html('<div id="nav-button"><i class="fa fa-bars"><i/></div>');
        }
        $(document).ready(function () {
            $("#nav-button").click(function () {
                $("#mob-nav").show();
            });
            $("#mob-nav-close").click(function () {
                $("#mob-nav").hide();
            });
            $("#mob-nav a").click(function () {
                $("#mob-nav").hide();
            });
        });
    </script>

    {% include 'core/footer.html' %}

{% endblock %}