{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div id="content">
        <div class="blair_form">

            <h1>Login</h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="login-next" value="{{ next }}"/>
                {% endif %}

                {% for field in form %}
                    <div class="field">
                        <label>{{ field.label }}</label>
                        <p>________________________________________</p>
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}

                <div class="field">
                    <p style="color: black; font-size: 20pt;">---------------------------------------------------------------------------</p>
                    <input type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>

    {% include 'core/footer.html' %}

{% endblock %}