{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div id="content">
        {% if false %}
            <h1>You are already <a href="{% url 'manage' %}">logged in</a>. <div id="blair_form"><input method = "GET" type="submit" value="Log Out?"></div></h1>
        {% else %}
            <div class="blair_form">
                {% if successful %}
                    <div style="margin-bottom: 30em;">
                        <h1>Registration Successful!</h1>
                        <h1 style="color:red;">Please fill out <a href="https://goo.gl/forms/0u2OlxU6MPMMYnJ32">this form</a> if you are attending on March 15th-16th.</h1>
                    </div>
                {% else %}
                    <h1>Register for BlairHacks_3</h1>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}

                        {% for field in user_form %}
                            <div class="field">
                                <label style=>{{ field.label }}</label>
                                <p>________________________________________</p>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {% for field in hacker_form %}
                            <div class="field">
                                <label>{{ field.label }}</label>
                                <p>________________________________________</p>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <div class="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}

                        <div class="field">
                            <p style="color: black; font-size: 20pt;">---------------------------------------------------------------------------</p>
                            <p>________________________________________</p>
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% include 'core/footer.html' %}

{% endblock %}