{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div id="content">
        <div class="blair_form">
            <h1>Hello {{ user.first_name }}!</h1>
            <h1 style="color:red;">Please fill out <a href="https://goo.gl/forms/0u2OlxU6MPMMYnJ32">this form</a> if you are attending on March 15th-16th.</h1>
            <br>
            <h1>Food Choices</h1>
            {% if user.hackerprofile.breakfast == None %}
                <h2>Choose your Breakfast</h2>
                <form action="{% url 'manage' %}" method="post">
                    {% csrf_token %}
                    {% for field in breakfast_form %}
                        <div class="field">
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="field">
                        <input name="submit-breakfast" type="submit" value="Submit">
                    </div>
                </form>
            {% else %}
                <br><h2>Breakfast: {{ user.hackerprofile.breakfast.name }}</h2><br>
            {% endif %}

            {% if user.hackerprofile.lunch == None %}
                <h2>Choose your Lunch</h2>
                <form action="{% url 'manage' %}" method="post">
                    {% csrf_token %}
                    {% for field in lunch_form %}
                        <div class="field">
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="field">
                        <input name="submit-lunch" type="submit" value="Submit">
                    </div>
                </form>
            {% else %}
                <br><h2>Lunch: {{ user.hackerprofile.lunch.name }}</h2><br>
            {% endif %}

            {% if user.hackerprofile.dinner == None %}
                <h2>Choose your Dinner</h2>
                <form action="{% url 'manage' %}" method="post">
                    {% csrf_token %}
                    {% for field in dinner_form %}
                        <div class="field">
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="field">
                        <input name="submit-dinner" type="submit" value="Submit">
                    </div>
                </form>
            {% else %}
                <br><h2>Dinner: {{ user.hackerprofile.dinner.name }}</h2><br>
            {% endif %}

            {% if user.hackerprofile.team == None %}
            <br><br>
                <h1>Create New Team</h1>
                <form action="{% url 'manage' %}" method="post">
                    {% csrf_token %}

                    {% for field in new_team_form %}
                        <div class="field">
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}

                    <div class="field">
                        <input name="submit-new-team" type="submit" value="Create">
                    </div>
                </form>
                <br>
                <h1>Join Team</h1>
                <form action="{% url 'manage' %}" method="post">
                    {% csrf_token %}

                    {% for field in join_team_form %}
                        <div class="field">
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}

                    <div class="field">
                        <input name="submit-join-team" type="submit" value="Join">
                    </div>
                </form>
            {% else %}
                <br><br>
                <h1>Team <strong>{{ user.hackerprofile.team.name }}</strong></h1>
                <h2>Code: <strong>{{ user.hackerprofile.team.code }}</strong></h2>
                <ul>
                    {% for member in team_members %}
                        <li>{{ member.first_name }} {{ member.last_name }}</li>
                    {% endfor %}
                </ul>
                <form action="{% url 'manage' %}" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <input name="submit-leave-team" type="submit" value="Leave Team">
                    </div>
                </form>
            {% endif %}
            <br><br>
            <h1>Your Checked out Hardware</h1>
            <ul>
                {% for hw in your_hardware %}
                    <li>{{ hw.name }}</li>
                {% endfor %}
            </ul>
            <br>
            <h1>Available Hardware</h1>
            <ul>
                {% for hw in available_hardware %}
                    <li>{{ hw.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>

    {% include 'core/footer.html' %}

{% endblock %}